<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
internalLogLevel="Warn"
internalLogFile="C:\nlog-internal.txt">
	<targets async="true">
		<target name="logfile" xsi:type="File" layout="${longdate} ${message}" fileName="Logs\${level}\${date:format=yyyy-MM-dd}.log" />
	</targets>
	<rules>
		<!--Levels: Fatal|Error|Warn|Info|Debug|Trace-->
		<logger name="*" minlevel="Info" writeTo="logfile" />
	</rules>
</nlog>